@charset "UTF-8";
/*-----------------------MEDIAS-----------------------*/
/* index */
@media screen and (max-width: 500px) {
  #carouselExampleCaptions {
    margin: 0px; } }

/* Primera Victoria  */
@media screen and (max-width: 500px) {
  .texto-pv {
    text-align: center;
    display: flex;
    flex-direction: column; }
  .texto-montreal {
    display: flex;
    align-content: center; }
  .montreal-imagen {
    display: flex;
    flex-direction: column; }
  .montreal {
    width: 80%;
    display: flex;
    align-content: center; } }

@media screen and (min-width: 600px) and (max-width: 900px) {
  .texto-pv {
    display: flex;
    flex-direction: column; }
  .montreal-imagen {
    display: flex;
    flex-direction: column; }
  .montreal {
    display: flex;
    flex-direction: column; } }

/*  TRAYECTORIA */
@media screen and (max-width: 500px) {
  .compañero {
    display: flex;
    flex-direction: column; }
  .mclaren-tr {
    width: 85%; }
  .china {
    display: flex;
    flex-direction: column; }
  .enganchado {
    width: 95%; } }

@media screen and (min-width: 600px) and (max-width: 900px) {
  .compañero {
    display: flex;
    flex-direction: column; }
  .mclaren-tr {
    display: flex;
    flex-direction: column; }
  .china {
    display: flex;
    flex-direction: column; }
  .enganchado {
    display: flex;
    flex-direction: column; } }

/*  HEPTACAMPEON  */
@media screen and (min-width: 250px) and (max-width: 500px) {
  .turq {
    padding: left 0%;
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 480px; }
  .thlvsvtt {
    padding: left 0%;
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 480px; }
  .heptacampeon {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 480px; } }

@media screen and (min-width: 600px) and (max-width: 900px) {
  .turq {
    width: 80%; }
  .thlvsvtt {
    width: 80%; }
  .heptacampeon {
    width: 80%; } }

/*-----------------------MEDIAS-----------------------*/
/*  CONTENIDO  */
body {
  background-color: #dbdbdb; }

.menu {
  font-size: 30px;
  background-color: aquamarine; }

.animation {
  white-space: nowrap;
  overflow: hidden;
  animation: anim 4s infinite; }

@keyframes anim {
  from {
    width: 0; } }

.slide-index {
  margin-left: 360px;
  height: 450px;
  width: 450px; }

/*  INDEX CSS */
.texto-index {
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/* PRIMERA VICTORIA*/
.texto-pv {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.cursiva {
  font-weight: bold; }

.montreal-imagen {
  display: flex; }

/* EDICIÓN Trayectoria */
.compañero {
  display: flex;
  align-content: center; }

.china {
  display: flex; }

/*  EDICIÓN Heptacampeón  */
.turq {
  width: 80%;
  height: 500px; }

.thlvsvtt {
  width: 80%;
  height: 500px; }

.heptacampeon {
  width: 80%;
  height: 500px; }

.p-hepta {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/*MAP GET*/
.titulo {
  background-color: aquamarine;
  text-align: center;
  border: 0px solid;
  color: black;
  margin-top: 20px; }

* {
  margin: 0;
  padding: 0; }

/* FOOTER */
.footer {
  background-color: black;
  text-align: center;
  margin-top: 20px;
  position: static; }

.footer div {
  margin: 20px;
  align-items: center; }

.footer div a {
  text-decoration: none; }

.footer div a img {
  width: 40px;
  border-radius: 40px;
  margin: 5px; }

/* FIN FOOTER*/
body {
  background-color: #dbdbdb; }
