@charset "UTF-8";
/*-----------------------MEDIAS-----------------------*/
/* index */
@media screen and (max-width: 600px) {
  #carouselExampleCaptions {
    margin: 0px; } }

/* Primera Victoria  */
@media screen and (max-width: 600px) {
  .texto-montreal {
    display: flex;
    align-content: center; } }

/*  TRAYECTORIA */
@media screen and (max-width: 600px) {
  .compañero {
    display: flex;
    flex-direction: column; }
  .mclaren-tr {
    width: 85%; }
  .china {
    display: flex;
    flex-direction: column; }
  .enganchado {
    width: 95%; } }

/*-----------------------MEDIAS-----------------------*/
/*  CONTENIDO  */
body {
  background-color: #dbdbdb; }

.menu {
  font-size: 30px;
  background-color: aquamarine; }

.animation {
  white-space: nowrap;
  overflow: hidden;
  animation: anim 4s infinite; }

@keyframes anim {
  from {
    width: 0; } }

.slide-index {
  margin-left: 360px;
  height: 450px;
  width: 450px; }

/*  INDEX CSS */
.texto-index {
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/* PRIMERA VICTORIA*/
.texto-pv {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.cursiva {
  font-weight: bold; }

.montreal {
  float: left; }

/* EDICION Trayectoria */
.compañero {
  display: flex;
  align-content: center; }

.china {
  display: flex; }

/*MAP GET*/
.titulo {
  background-color: aquamarine;
  text-align: center;
  border: 0px solid;
  color: black;
  margin-top: 20px; }

* {
  margin: 0;
  padding: 0; }

/* FOOTER */
.footer {
  background-color: black;
  text-align: center;
  margin-top: 20px;
  position: static; }

.footer div {
  margin: 20px;
  align-items: center; }

.footer div a {
  text-decoration: none; }

.footer div a img {
  width: 40px;
  border-radius: 40px;
  margin: 5px; }

/* FIN FOOTER*/
body {
  background-color: #dbdbdb; }
