$BodyPrincipal: #dbdbdb;
$BodySecundario: rgb(122, 12, 12);


/*-----------------------MEDIAS-----------------------*/
                 /* index */

                 @media screen and ( max-width: 600px){
      
                    #carouselExampleCaptions{ margin: 0px; }
              
                    }


                /* Primera Victoria  */

                @media  screen and ( max-width: 600px )  {

                    .texto-montreal{
                        display: flex;
                       align-content: center;

                    }
                }
                /*  TRAYECTORIA */

                @media screen and (max-width:600px ) {

                    .compañero{ 
                        display: flex;
                        flex-direction: column;
                    }

                    .mclaren-tr{ width: 85%; }
                    
                    .china{ 
                        display: flex;
                        flex-direction: column;
                     }
                    
                    .enganchado {
                        width: 95%;
                    }
                }
                  /*-----------------------MEDIAS-----------------------*/
              

/*  CONTENIDO  */

body { background-color: $BodyPrincipal; }
.menu {  
    font-size: 30px;
    background-color: aquamarine;}

.animation { 
    white-space: nowrap;
    overflow: hidden;
    animation: anim 4s infinite;
}
@keyframes anim { from {width: 0;}
    
}

.slide-index { 
    margin-left: 360px;
    height: 450px;
    width: 450px;
}
/*  INDEX CSS */


.texto-index { 
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

/* PRIMERA VICTORIA*/

.texto-pv { font-family:Verdana, Geneva, Tahoma, sans-serif;}


.cursiva {font-weight: bold;}


.montreal { float: left;}


/* EDICION Trayectoria */

.compañero { display: flex ;
align-content: center;}

.china { display: flex;}



/*MAP GET*/
$textoprincipal: #dbdbdb;

$textoprincipal: (

    parrafo:aquamarine,
    centrar: center,
    marco: 0px solid,
    colortexto:black,
    marg:20px
);



$tituloPagina: #dbdbdb;


$tituloPagina: (
    parrafo: yellow,
    centro: center,
    borde: 3px solid,
    colorPrincipal: brown,
    margen: 20px,
);
.titulo {
    background-color: map-get($textoprincipal,parrafo );
    text-align: map-get($textoprincipal, centrar);
    border: map-get($textoprincipal, marco);
    color: map-get($textoprincipal, colortexto);
    margin-top: map-get($textoprincipal, marg);
}
