$BodyPrincipal: #dbdbdb;
$BodySecundario: rgb(122, 12, 12);


/*-----------------------MEDIAS-----------------------*/
                 /* index */

                 @media screen and ( max-width: 500px){
      
                    #carouselExampleCaptions{ margin: 0px; }
              
                    }
                

                /* Primera Victoria  */

                @media  screen and ( max-width: 500px )  {

                    .texto-pv { 
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                    }

                    .texto-montreal{
                        display: flex;
                       align-content: center;

                    }
                    .montreal-imagen{
                        display: flex;
                        flex-direction: column;
                    }
                    .montreal {
                        display: flex;
                        flex-direction: column;
                    }
                }

                @media screen and ( min-width: 600px) and (max-width: 900px ) {

                    .texto-pv { 
                        display: flex;
                        flex-direction: column;
                    }

                    .montreal-imagen{
                        display: flex;
                        flex-direction: column;
                    }
                    .montreal {
                        display: flex;
                        flex-direction: column;
                    }
                    
                }
                /*  TRAYECTORIA */

                @media screen and (max-width:500px ) {

                    .compañero{ 
                        display: flex;
                        flex-direction: column;
                    }

                    .mclaren-tr{ width: 85%; }
                    
                    .china{ 
                        display: flex;
                        flex-direction: column;
                     }
                    
                    .enganchado {
                        width: 95%;
                    }
                 }


                 @media screen and ( min-width: 600px) and (max-width: 900px ) {


                    .compañero {
                        
                        display: flex;
                        flex-direction: column;
                    }
                    .mclaren-tr { 
                        display: flex;
                        flex-direction: column;
                    }

                    .china{
                        
                        display: flex;
                        flex-direction: column;
                     }
                    .enganchado{
                        display: flex;
                        flex-direction: column;
                     }
                 }

                  



                    /*  HEPTACAMPEON  */
                @media screen and (max-width:500px){
                    .thlvsvtt{ 
                        display: flex;
                        flex-direction: column;
                        width: 470px;
                        height: 480px;
                    }
                    .heptacampeon{ 
                        display: flex;
                        flex-direction: column;
                        width: 480px;
                        height: 480px;
                    }
                }

                @media screen and ( min-width: 600px) and (max-width: 900px ) {
                    
                    .turq{
                        width: 80%;
                    }
                    .thlvsvtt{
                        width: 80%;
                    }
                    .heptacampeon{
                        width: 80%;
                    }
                }

                  /*-----------------------MEDIAS-----------------------*/
              

/*  CONTENIDO  */

body { background-color: $BodyPrincipal; }
.menu {  
    font-size: 30px;
    background-color: aquamarine;}

.animation { 
    white-space: nowrap;
    overflow: hidden;
    animation: anim 4s infinite;
}
@keyframes anim { from {width: 0;}
    
}

.slide-index { 
    margin-left: 360px;
    height: 450px;
    width: 450px;
}
/*  INDEX CSS */


.texto-index { 
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

/* PRIMERA VICTORIA*/

.texto-pv { font-family:Verdana, Geneva, Tahoma, sans-serif;}


.cursiva {font-weight: bold;}


.montreal-imagen { display: flex;}


/* EDICIÓN Trayectoria */

.compañero { display: flex ;
align-content: center;}

.china { display: flex;}

/*  EDICIÓN Heptacampeón  */

.turq { 
    width: 80%;
    height: 500px;
    padding-left: 300px;
}
.thlvsvtt{
    width: 80%;
    height: 500px;
    padding-left: 300px;
}

.heptacampeon{
    width: 80%;
    height: 500px;
    padding-left: 300px;
}

.p-hepta { font-family: Verdana, Geneva, Tahoma, sans-serif;}


/*MAP GET*/
$textoprincipal: #dbdbdb;

$textoprincipal: (

    parrafo:aquamarine,
    centrar: center,
    marco: 0px solid,
    colortexto:black,
    marg:20px
);



$tituloPagina: #dbdbdb;


$tituloPagina: (
    parrafo: yellow,
    centro: center,
    borde: 3px solid,
    colorPrincipal: brown,
    margen: 20px,
);
.titulo {
    background-color: map-get($textoprincipal,parrafo );
    text-align: map-get($textoprincipal, centrar);
    border: map-get($textoprincipal, marco);
    color: map-get($textoprincipal, colortexto);
    margin-top: map-get($textoprincipal, marg);
}
