$BodyPrincipal: #dbdbdb;
$BodySecundario: rgb(122, 12, 12);


/*  CONTENIDO  */

body { background-color: $BodyPrincipal; }
.menu {  
    font-size: 30px;
    background-color: aquamarine;}

.animation { 
    white-space: nowrap;
    overflow: hidden;
    animation: anim 4s infinite;
}
@keyframes anim { from {width: 0;}
    
}
.carousel { 
        margin-left: 370px;
        text-align: center;
        width: 450px;
        height: 450px; }
/*  INDEX CSS */

.texto-index { 
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

/* PRIMERA VICTORIA*/

.texto-pv { font-family:Verdana, Geneva, Tahoma, sans-serif;}


.cursiva {font-weight: bold;}


.montreal { float: left;}


/* EDICION Trayectoria */

.compañero { display: flex ;
align-content: center;}

.china { display: flex;}



/*MAP GET*/
$tituloPagina: #dbdbdb;


$tituloPagina: (
    parrafo: yellow,
    centro: center,
    borde: 3px solid,
    colorPrincipal: brown,
    margen: 20px,
);
.titulo {
    background-color: map-get($tituloPagina,parrafo );
    text-align: map-get($tituloPagina, centro);
    border: map-get($tituloPagina, borde);
    color: map-get($tituloPagina, colorPrincipal);
    margin-top: map-get($tituloPagina, margen);
}
